<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link rel="manifest" href="manifest.json">

  <!-- un-comment this code to enable service worker
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('service-worker.js')
        .then(() => console.log('service worker installed'))
        .catch(err => console.log('Error', err));
    }
  </script>-->

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
  -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
</head>
<body ng-app="emailAutoCorrection">
<ion-pane>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Sign in to continue</h1>
  </ion-header-bar>
  <ion-content class="item-text-wrap" ng-controller="FormController" padding="true">
    <form name="EmailForm" novalidate>
      <div class="list card">
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input ng-blur="getInputEmail(email)"
               ng-model="email"
               ng-class="{'input-error': offerSuggestion || showEmailError}"
               type="email"
               placeholder="Enter your email"
               required
        >
      </label>
      <div ng-show="offerSuggestion" class="item item-divider">
        <h3>{{suggestedEmail}}</h3>
        <div class="button-bar">
          <button on-tap="tappedYes()" class="button button-clear button-small button-dark">Yes</button>
          <button on-tap="tappedNo()" class="button button-clear button-small button-dark">No</button>
        </div>
      </div>
      <div ng-show="showEmailError" class="item item-divider">
        <h3>Please provide a valid email.</h3>
      </div>

      <label class="item item-input">
        <span class="input-label">Password</span>
        <input ng-model="password"
               ng-class="{'input-error': EmailForm.password.$invalid && !EmailForm.password.$pristine}"
               type="password"
               name="password"
               placeholder="Enter your password"
               required
        >
      </label>
      <div ng-show="EmailForm.password.$invalid && !EmailForm.password.$pristine" class="item item-divider">
        <h3>Please enter a password.</h3>
      </div>
      </div>

      <button ng-disabled="EmailForm.$invalid || offerSuggestion || showEmailError" class="button button-positive button-block" type="submit">Sign up</button>
    </form>

  </ion-content>
</ion-pane>
</body>
</html>
